.CreateTierList {
  background-color: #0f0f0f;
  color: white;
  text-align: center;
  height: 100%;
  margin: 0;
  
}

.MoveableImage {
  position: absolute; 
}

.TierListUnsortedContainer {
  background-color: #282828;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 25px;

  border: #404040;
  border-style: solid;
  border-radius: 5px;
}