.templateContainer{
    width:200px;
    height: 200px;
    border: 3px;
    border-style: dashed;
    padding: 10px;
    text-align: center;
}
.grid-item{
    grid-auto-rows: min-content;
    padding-top: 0em;
    background-color: rgb(51, 51, 51);
}

.templateThumbnail {
    max-width: 400px;
    height: 150px;
}