.title{
    text-align: center;
}
body{
    background-color: #202020;
    color: white;
}
form {
    text-align: center;
}
table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
      
}
.tableDiv{
    text-align: center;
}
#navigation{
    top:auto;
    background-color: red;
}
h1{
    margin-top: 0;
}